Source: regexasub
Priority: optional
Maintainer: Konrad Martin <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 9),
               epics-debhelper,
               epics-dev,
Standards-Version: 3.9.6
Section: libs
Vcs-Git: https://stash.frib.msu.edu/scm/gts/regexasub.git
Vcs-Browser: https://stash.frib.msu.edu/projects/GTS/repos/regexasub

Package: regexasub-dev
Section: libdevel
Architecture: any
Depends: libregexasub1.0.0 (= ${binary:Version}), ${misc:Depends},
         ${shlibs:Depends}, ${epics:Depends}
Description: Regular Expression aSub Record
 This EPICS module performs regular expression substitution on a string. It
 can be used to extract substrings or to rearrange things.
 .
 This package provides files need to build an IOC with the regular expression
 aSub module.

Package: libregexasub1.0.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Regular Expression aSub Record     
 This EPICS module performs regular expression substitution on a string. It   
 can be used to extract substrings or to rearrange things.
 .
 This package provides the library.
